<%= turbo_frame_tag todo do %>
  <div class="flex justify-between items-center mb-4">
    <%= todo.todo %>
    <div>
      <%= link_to 'Edit', edit_todo_path(todo), class: "rounded-lg py-2 ml-2 px-5 bg-amber-400 text-white inline-block font-medium hover:opacity-50" %>
      <%= link_to 'Delete', todo_path(todo), data: { turbo_method: :delete }, class: "rounded-lg py-2 ml-2 px-5 bg-red-500 text-white inline-block font-medium hover:opacity-50" %>
    </div>
  </div>
<% end %>
