<div class="mx-auto md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex flex-col">
    <%= turbo_frame_tag 'new', src: new_todo_path %>
  </div>

  <div id="todos" class="min-w-full">
    <%= turbo_frame_tag 'todos' do %>
      <%= render @todos %>
    <% end %>
    </div>
</div>
